.Content {
    height: 70vh;
    min-height: 460px;
}
.voting-container {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: absolute;
    top: 40%;
    right: 30%;
}
.active input {
    width: 80px;
    height: 20px;
}
.inactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.node-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}