.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.node {
    display: flex;
}
.options p {
    padding: 10px;
}

#wrap {
    display: flex;
}
#wrap span {
    padding: 10px;
}